# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
      react-core:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      storybook:
        patterns:
          - "@storybook/*"
          - "@chromatic-com/storybook"
          - "storybook"
      next-js:
        patterns:
          - "@next/mdx"
          - "@mdx-js/loader"
          - "@mdx-js/react"
          - "@serwist/next"
          - "next"
          - "next-themes"
      vitest:
        patterns:
          - "vitest"
          - "vitest-*"
          - "@vitest/*"
          - "vite"
          - "vite-*"
          - "@vitejs/*"
          - "@testing-library/react"
      tailwindcss:
        patterns:
          - "tailwindcss"
          - "tailwindcss-*"
      stylelint:
        patterns:
          - "stylelint"
          - "stylelint-*"
      prettier:
        patterns:
          - "@trivago/prettier-plugin-sort-imports"
          - "prettier"
          - "prettier-plugin-*"
    open-pull-requests-limit: 10
    pull-request-branch-name:
      separator: '-'
    commit-message:
      # cause a release for non-dev-deps
      prefix: fix(deps)
      # no release for dev-deps
      prefix-development: chore(dev-deps)
    ignore:
      - dependency-name: "@storybook/*"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"

      - dependency-name: "@typescript-eslint/*"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"

      - dependency-name: "stylelint*"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"

      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"

      - dependency-name: "@types/react*"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"

      - dependency-name: "vitest-matchmedia-mock"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"
