**/.next/*
**/node_modules/*

**/.github/*


# E2E testing
cypress
**/__tests__/e2e/*

*.json

# Ignore declaration files
**/*.d.ts

# Ignore configs
.eslintrc.js
.prettierrc
.stylelintrc.js
tsconfig.json
package.json
*.md
*.config.ts
*.config.js
