{
  "rules": {
    "block-no-empty": true
  },
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-tailwindcss",
    "stylelint-config-tailwindcss/scss"
  ]
}
