{
  "rules": {
    "block-no-empty": null,
    "selector-class-pattern": "^([a-z]+[A-Z]+\\w+)+$",
    "scss/at-function-pattern": "^([a-z]+[A-Z]+\\w+)+$",
    "scss/no-global-function-names": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": null
  },
  "defaultSeverity": "warning",
  "plugins": [
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-tailwindcss",
    "stylelint-config-tailwindcss/scss"
  ]
}
