.uiStack {
  $size: min(var(--max-width), calc(100% - 2 * var(--insets)));

  // Default values
  --insets: 2rem;
  --max-width: 1680px;

  &.orientation {
    &.vertical {
      height: $size;
    }

    &.horizontal {
      width: $size;
    }
  }
}