.uiStack {
  --insets: 2rem;
  --max-width: 1680px;

  &.orientation {
    &.vertical {
      height: min(var(--max-width), calc(100% - 2 * var(--insets)));
    }

    &.horizontal {
      width: min(var(--max-width), calc(100% - 2 * var(--insets)));
    }
  }
}