@use "templates";
@use "config";
@use "mixins/cascade-down";

// Design system related variables.
// Can be enabled if needed.
:root {
  // Paddings
  @include cascade-down.cascadeDown(config.$mobileBreakpoint, (
    --p-level-1: 56px,
    --p-level-2: 32px,
    --p-level-3: 24px,
    --p-level-4: 16px,
    --p-level-5: 8px,
  ));

  // Headings
  @include cascade-down.cascadeDown(config.$mobileBreakpoint, (
    --heading-1: 32px,
    --heading-2: 24px,
    --heading-3: 20px,
    --heading-4: 16px,
    --heading-5: 14px,
  ));

  // Text
  @include cascade-down.cascadeDown(config.$mobileBreakpoint, (
    --p24: 24px,
    --p20: 20px,
    --p16: 16px,
    --p14: 14px,
  ));

  // This rule is for sass backwards capability.
  & {
    font-size: var(--p20);
  }

  & * {
    line-height: 140%;
  }
}
