@use "templates";
@use "config";
@use "mixins/cascade-down";
@use "helpers/design";

// Design system related variables.
// Can be enabled if needed.
:root {
  // Paddings
  @include cascade-down.cascadeDown(
    config.$mobileBreakpoint,
    design.createPaddingGrade(8px)
  );

  // Headings
  @include cascade-down.cascadeDown(
    config.$mobileBreakpoint,
    design.createHeadingGrade(14px)
  );

  // Text
  @include cascade-down.cascadeDown(config.$mobileBreakpoint, (
    --p24: 24px,
    --p20: 20px,
    --p16: 16px,
    --p14: 14px,
  ));

  // This rule is for sass backwards capability.
  & {
    font-size: var(--p20);
  }

  & * {
    line-height: 140%;
  }
}
