%noScrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

%scrollable {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    // @apply bg-secondary-accent;

    border-radius: 2px;
  }
}
