@import "../config";

// TODO REWORK DEPRECATED

@function getBreakpointValue($breakpoint-name) {
  $breakpoint: map-get($gridBreakpoints, $breakpoint-name);

  @if $breakpoint {
    @return $breakpoint;
  } @else {
    @error "Unknown breakpoint: #{$breakpoint-name}";
  }
}

/*
  Media query for min-width generator.
*/
@mixin startAt($breakpoint-name) {
  @media (min-width: getBreakpointValue($breakpoint-name)) {
    @content;
  }
}

/*
  Media query for max-width generator.
*/
@mixin endAt($breakpoint-name) {
  @media (max-width: getBreakpointValue($breakpoint-name)) {
    @content;
  }
}

/*
  Media query for max-width generator. Uses fixed pixel value as argument.
 */
@mixin endAtFixed($value) {
  @media (max-width: $value) {
    @content;
  }
}
