@mixin customScrollbar(
  $size: 10px,
  $padding: $size / 2.5,
  $foreground-color: #FFF,
  $background-color: transparent
) {
  // для Chrome и Safari
  &::-webkit-scrollbar {
    width: $size;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $size;
    border: $padding solid $background-color;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // по стандартам (Firefox)
  scrollbar-color: $foreground-color $background-color;
}
