/**
  Fills svg with one color.

  svg element has to contain children
  with properties `fill` or `stroke`
  set.
 */
@mixin svgMonofill($color) {
  & *[fill] {
    fill: $color;
  }

  & *[stroke] {
    stroke: $color;
  }
}

/**
  Inserts fill or path according to their usage in
  path, g, etc.

  Element has to contain properties
  `fill` or `stroke`.
 */
@mixin pathMonofill($color) {
  [fill] {
    fill: $color;
  }

  [stroke] {
    stroke: $color;
  }
}
