name: 'CI'

# Setup workflow-wide variables here
env:
  canary_branch_name: canary

on:
  push:
    branches:
      - main
      - ${{ env.canary_branch_name }}

  pull_request:
    branches:
      - main
      - ${{ env.canary_branch_name }}

jobs:
  # Install Node.js and dependencies
  ci:
    strategy:
      matrix:
        NODE_VERSION:
          - '20'
          - '22'

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - name: 'Install Node (${{ matrix.NODE_VERSION }})'
        uses: actions/setup-node@v4
        with:
          node-version: '${{ matrix.NODE_VERSION }}'

      - name: 'Install dependencies'
        run: yarn install --frozen-lockfile

      # Start to run our inline jobs
      # Vitest
      - name: 'Run coverage'
        run: yarn coverage

      - name: 'Report coverage'
        if: always() # Also generate the report if tests are failing
        uses: davelosert/vitest-coverage-report-action@v2

      # E2E testing
      - name: 'Run Cypress in headless mode'
        run: yarn e2e:ci
