name: Linters checks
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: |
          npm i eslint -g
          yarn --frozen-lockfile
      - name: Run ESLint
        run: yarn lint:ci
